---
import { type CollectionEntry } from "astro:content";
import { calcReadTime } from "../utils";

type Props = {
  body: CollectionEntry<"blog">["body"];
};

const { body } = Astro.props;
---

<p><em>Read Time: {calcReadTime(body)} minutes</em></p>
